body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background: url("/images/galaxy-bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

.bg-galaxy {
  background: url("/images/galaxy-bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

button {
  cursor: pointer;
  transition: all 0.3s ease;
}

